@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


.grid-container{
  display: grid;
  grid-template-columns: 800px auto;
  gap: 5rem;

}

.summary{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  overflow: hidden;
  
}

body{
  font-family: 'Inter', sans-serif;
    color: aliceblue;
  background-color: rgb(37, 54, 85);
}