@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  overflow: hidden;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  font-family: 'Inter', sans-serif;
  color: aliceblue;
  background-color: #0F172A;
}

p{
  color: #797979;
}

.timeline-date{
  color: #797979;
}

.introduction{
  margin-top: 40px;
}

.radial-gradient {
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  z-index: -1;
  
  /*Fallback if gradeints don't work */
  background: #0F172A;
  /*Linear gradient... */
  background: 
    radial-gradient(
     at center, #293b64, #0F172A
    );
}

/* whole container */
.grid-container{
  display: grid;
  grid-template-columns: 700px auto;

}

/* container of the experience and projects on the right hand side */
.itemCon{
  overflow-y: auto;
  height: 800px;

}

/* disable scroll bar */
.itemCon::-webkit-scrollbar{ 
  display: none;
}


/*Title name H1*/
.name{
  font-size: 3rem;
}

/* item of one project or experience */
.listItem{
  
   margin-bottom: 70px; 
}



/* use technologies tag */
.tag{
  padding: 5px 10px; /* Adjust padding as needed */
  border: none;
  border-radius: 10px; /* Rounded corners */
  background-color: #3498db; /* Button color */
  color: white; /* Text color */
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
}

/* tags container */
.tags{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

/* View project button */
.project-button{
  padding: 10px 20px; /* Adjust padding as needed */
  border: none;
  border-radius: 10px; /* Rounded corners */
  background-color: #34dbbf; /* Button color */
  color: white; /* Text color */
  cursor: pointer;
  font-size: 16px;
}

/* socials and contact information */
.contact{
  margin-top: 500px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}



@media (max-width: 900px) {
      body {
        overflow: auto;
        margin: 80px 10px;
      }
      .name{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .grid-container {
        grid-template-columns: 1fr;
      }

    .itemCon {
      max-height: none;
      height: auto;
      
      }
    .contact {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .summary{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  }

  @media (max-width: 400px) {
    body {
      overflow: auto;
      margin: 80px 10px;
    }

    .grid-container {
      grid-template-columns: 1fr;
    }

  .itemCon {
    max-height: none;
    height: auto;
    
    }
  .contact {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

/*tablet portrait*/
@media (min-width: 900px) {
  
   body {
        overflow: auto;
        margin: 80px 10px;
      }
      .name{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .grid-container {
        grid-template-columns: 1fr;
      }

    .itemCon {
      max-height: none;
      height: auto;
      
      }
    .contact {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .summary{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}

/*i dont know what i did but it worked (ipad landscape)*/
@media (max-width: 1050) {
  
  body{
    overflow: hidden;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
  }

  .itemCon {
    
    
    }

  .contact{
    margin-top: 300px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
  






